NifiFlowsDirectory/default/Salesforce-To-DataBricks.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1770889779059,
    "description" : "",
    "identifier" : "Salesforce-To-DataBricks",
    "lastModifiedTimestamp" : 1770889779059,
    "name" : "Salesforce To DataBricks",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "This NiFi flow processes Salesforce account data by first splitting it into individual records, then transforming the data by renaming fields (Id → account_id, Name → account_name) and adding the +91 prefix to phone numbers. Each record is validated to ensure essential fields are present, and only valid records are inserted into Databricks",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b681caf-b2b1-34fd-b13d-5b229e976d95",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "023f1fe0-4a63-3c56-a9db-cd97d824260d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a94ce874-e8fb-3f2e-a8a0-ffb319f68d5d",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 39
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7e16421c-ec28-3dff-b16a-32564df63fe0",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "194a06fe-caed-3f12-97a2-f197ad153324",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2bcb539-0199-1000-9dd9-f21f17f1e009",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 34
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a047604d-2c94-3750-84af-87208635ffd4",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1e66f72e-ff60-3445-821a-1365cb05f16d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a94ce874-e8fb-3f2e-a8a0-ffb319f68d5d",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 40
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1192.0,
        "y" : 312.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "7e16421c-ec28-3dff-b16a-32564df63fe0",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "43e00d2b-dd8a-372f-802b-fc8a338c66b7",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b681caf-b2b1-34fd-b13d-5b229e976d95",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2bcb539-0199-1000-9dd9-f21f17f1e009",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "50937342-61db-3c07-b9fc-24702883d55b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "valid_record" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b681caf-b2b1-34fd-b13d-5b229e976d95",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 41
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "51a0bfb0-f67b-3309-80d1-44ef1a9d318e",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "971dacd7-5ade-33dc-894a-ca6199282aaa",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95c29efd-41d0-3a61-b2a8-9932aebe91c5",
        "name" : "QuerySalesforceObject",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -592.0,
        "y" : -264.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "105ff5f9-cf5d-3e6f-bae4-8e0e592e4d3e",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b0c533fa-a95b-308e-8fd4-f2324a1342dd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "51a0bfb0-f67b-3309-80d1-44ef1a9d318e",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 36
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 16.0,
        "y" : -304.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a047604d-2c94-3750-84af-87208635ffd4",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b7574c18-fa6c-37fc-a139-416d4585e90c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40e1f3df-a741-3bb4-9451-ba5978a30db6",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40e1f3df-a741-3bb4-9451-ba5978a30db6",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d57b733f-c5d4-391d-ab90-bcf212af0216",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "51a0bfb0-f67b-3309-80d1-44ef1a9d318e",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 35
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "755748dd-2174-353a-9fdb-5e546a395201",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2bcb53d-0199-1000-5fa9-fc134852add7",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2bcb539-0199-1000-9dd9-f21f17f1e009",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 32
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 2148.244740213123,
        "y" : -30.628675279583604
      }, {
        "x" : 2148.244740213123,
        "y" : 19.371324720416396
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2bcb539-0199-1000-9dd9-f21f17f1e009",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2bcb53f-0199-1000-b751-90cf61062cec",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2bcb539-0199-1000-9dd9-f21f17f1e009",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 33
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1232.0,
        "y" : -264.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "105ff5f9-cf5d-3e6f-bae4-8e0e592e4d3e",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e85b83e9-0b99-3dbc-9d7f-ebb04a143343",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95c29efd-41d0-3a61-b2a8-9932aebe91c5",
        "name" : "QuerySalesforceObject",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a94ce874-e8fb-3f2e-a8a0-ffb319f68d5d",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f1b2cfdf-2731-377b-8c68-f1688dc64bcc",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40e1f3df-a741-3bb4-9451-ba5978a30db6",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5f358fdd-2926-3ce4-8899-b5c4b0a967f4",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "Maximum Idle Connections" : "8",
        "Database Driver Locations" : "#{DataBaseDriverLocation}",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "#{DataBaseDriverClass}",
        "Minimum Idle Connections" : "0",
        "Max Total Connections" : "8",
        "Database Connection URL" : "#{DataBaseConnectionUrl}",
        "Password Source" : "PASSWORD",
        "Time Between Eviction Runs" : "-1",
        "Database User" : "#{DataBaseUser}",
        "Soft Minimum Evictable Idle Time" : "-1",
        "Maximum Connection Lifetime" : "-1",
        "Minimum Evictable Idle Time" : "30 mins",
        "Password" : "#{DataBasePassword}"
      },
      "propertyDescriptors" : {
        "Maximum Idle Connections" : {
          "displayName" : "Maximum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Idle Connections",
          "sensitive" : false
        },
        "Database Driver Locations" : {
          "displayName" : "Database Driver Locations",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
          },
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "Minimum Idle Connections" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Idle Connections",
          "sensitive" : false
        },
        "Kerberos User Service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Kerberos User Service",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "Validation Query" : {
          "displayName" : "Validation Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation Query",
          "sensitive" : false
        },
        "Database Password Provider" : {
          "displayName" : "Database Password Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Password Provider",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "Password Source" : {
          "displayName" : "Password Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password Source",
          "sensitive" : false
        },
        "Time Between Eviction Runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Between Eviction Runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "Soft Minimum Evictable Idle Time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Soft Minimum Evictable Idle Time",
          "sensitive" : false
        },
        "Maximum Connection Lifetime" : {
          "displayName" : "Maximum Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Connection Lifetime",
          "sensitive" : false
        },
        "Minimum Evictable Idle Time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum Evictable Idle Time",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-oauth2-provider-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "type" : "org.apache.nifi.oauth2.OAuth2AccessTokenProvider"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e7a693e6-543d-3fc5-9183-9821e656b0c9",
      "name" : "StandardOauth2AccessTokenProvider",
      "properties" : {
        "Client ID" : "#{client_id}",
        "Default Expiration Time" : "1 hour",
        "Grant Type" : "password",
        "HTTP Protocols" : "H2_HTTP_1_1",
        "Refresh Window" : "0 s",
        "Authorization Server URL" : "#{SalesforceAuthorizationUrl}",
        "Username" : "#{SalesforceUsername}",
        "Client Authentication Strategy" : "REQUEST_BODY",
        "Client Secret" : "#{Client secret}",
        "Password" : "#{Salesforce-Password}"
      },
      "propertyDescriptors" : {
        "Client ID" : {
          "displayName" : "Client ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client ID",
          "sensitive" : false
        },
        "Audience" : {
          "displayName" : "Audience",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Audience",
          "sensitive" : false
        },
        "Default Expiration Time" : {
          "displayName" : "Default Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Expiration Time",
          "sensitive" : false
        },
        "Resource" : {
          "displayName" : "Resource",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Resource",
          "sensitive" : false
        },
        "Grant Type" : {
          "displayName" : "Grant Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Grant Type",
          "sensitive" : false
        },
        "Refresh Token" : {
          "displayName" : "Refresh Token",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Refresh Token",
          "sensitive" : true
        },
        "HTTP Protocols" : {
          "displayName" : "HTTP Protocols",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Protocols",
          "sensitive" : false
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Refresh Window" : {
          "displayName" : "Refresh Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Refresh Window",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Authorization Server URL" : {
          "displayName" : "Authorization Server URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authorization Server URL",
          "sensitive" : false
        },
        "Scope" : {
          "displayName" : "Scope",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Scope",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Client Authentication Strategy" : {
          "displayName" : "Client Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Authentication Strategy",
          "sensitive" : false
        },
        "Client Secret" : {
          "displayName" : "Client Secret",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Secret",
          "sensitive" : true
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f8e55e48-a14b-32cd-a849-4496663e02ca",
      "name" : "JsonTreeReader",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Max String Length" : "20 MB",
        "Starting Field Strategy" : "ROOT_NODE",
        "Schema Access Strategy" : "infer-schema",
        "Schema Name" : "${schema.name}",
        "Schema Application Strategy" : "SELECTED_PART",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Starting Field Name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Name",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Schema Inference Cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Inference Cache",
          "sensitive" : false
        },
        "Starting Field Strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Strategy",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Schema Application Strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Application Strategy",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "logFileSuffix" : "",
    "maxConcurrentTasks" : 1,
    "name" : "SalesforceToDataBricks",
    "outputPorts" : [ ],
    "parameterContextName" : "Salesforce to DataBricks",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "105ff5f9-cf5d-3e6f-bae4-8e0e592e4d3e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1096.0,
        "y" : -328.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3b681caf-b2b1-34fd-b13d-5b229e976d95",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1016.0,
        "y" : -64.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "valid_record" : "${account_id:matches('.+'):and(${account_name:matches('.+')})}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "valid_record" : {
          "displayName" : "valid_record",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "valid_record",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.28.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40e1f3df-a741-3bb4-9451-ba5978a30db6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -160.0,
        "y" : -64.0
      },
      "properties" : { },
      "propertyDescriptors" : {
        "jolt-spec" : {
          "displayName" : "jolt-spec",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "jolt-spec",
          "sensitive" : true
        },
        "jolt-transform" : {
          "displayName" : "jolt-transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "jolt-transform",
          "sensitive" : true
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : true
        },
        "pretty_print" : {
          "displayName" : "pretty_print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "pretty_print",
          "sensitive" : true
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "51a0bfb0-f67b-3309-80d1-44ef1a9d318e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -768.0,
        "y" : -64.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "755748dd-2174-353a-9fdb-5e546a395201",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1688.0,
        "y" : -320.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7e16421c-ec28-3dff-b16a-32564df63fe0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1688.0,
        "y" : 248.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-salesforce-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "95c29efd-41d0-3a61-b2a8-9932aebe91c5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "QuerySalesforceObject",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1408.0,
        "y" : -64.0
      },
      "properties" : {
        "Include Deleted Records" : "false",
        "API Version" : "54.0",
        "Custom SOQL Query" : "SELECT Id, Name, Phone, Website, Industry\nFROM Account\nWHERE Owner.Username = 'divija.garg613@agentforce.com'\n  AND DAY_ONLY(CreatedDate) = 2025-10-01",
        "Read Timeout" : "15 s",
        "OAuth2 Access Token Provider" : "e7a693e6-543d-3fc5-9183-9821e656b0c9",
        "Query Type" : "custom-query",
        "Create Zero Record FlowFiles" : "false",
        "Salesforce Instance URL" : "#{SalesforceInstanceUrl}"
      },
      "propertyDescriptors" : {
        "Custom WHERE Condition" : {
          "displayName" : "Custom WHERE Condition",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom WHERE Condition",
          "sensitive" : false
        },
        "Include Deleted Records" : {
          "displayName" : "Include Deleted Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Deleted Records",
          "sensitive" : false
        },
        "Field Names" : {
          "displayName" : "Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Field Names",
          "sensitive" : false
        },
        "API Version" : {
          "displayName" : "API Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "API Version",
          "sensitive" : false
        },
        "Custom SOQL Query" : {
          "displayName" : "Custom SOQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom SOQL Query",
          "sensitive" : false
        },
        "Read Timeout" : {
          "displayName" : "Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Read Timeout",
          "sensitive" : false
        },
        "Age Field" : {
          "displayName" : "Age Field",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Age Field",
          "sensitive" : false
        },
        "OAuth2 Access Token Provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "sObject Name" : {
          "displayName" : "sObject Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sObject Name",
          "sensitive" : false
        },
        "Age Delay" : {
          "displayName" : "Age Delay",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Age Delay",
          "sensitive" : false
        },
        "Query Type" : {
          "displayName" : "Query Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Query Type",
          "sensitive" : false
        },
        "Create Zero Record FlowFiles" : {
          "displayName" : "Create Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Zero Record FlowFiles",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Salesforce Instance URL" : {
          "displayName" : "Salesforce Instance URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Salesforce Instance URL",
          "sensitive" : false
        },
        "Initial Age Start Time" : {
          "displayName" : "Initial Age Start Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Initial Age Start Time",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.salesforce.QuerySalesforceObject",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a047604d-2c94-3750-84af-87208635ffd4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 440.0,
        "y" : -368.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a94ce874-e8fb-3f2e-a8a0-ffb319f68d5d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 440.0,
        "y" : -64.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "account_id" : "$.account_id",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "account_name" : "$.account_name",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "account_id" : {
          "displayName" : "account_id",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "account_id",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "account_name" : {
          "displayName" : "account_name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "account_name",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2bcb539-0199-1000-9dd9-f21f17f1e009",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutDatabaseRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1688.0,
        "y" : -64.0
      },
      "properties" : {
        "Table Name" : "#{DataBricksTable}",
        "Quote Column Identifiers" : "false",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "5f358fdd-2926-3ce4-8899-b5c4b0a967f4",
        "Record Reader" : "f8e55e48-a14b-32cd-a849-4496663e02ca",
        "Quote Table Identifiers" : "false",
        "Database Session AutoCommit" : "false",
        "Unmatched Field Behavior" : "Ignore Unmatched Fields",
        "Allow Multiple SQL Statements" : "false",
        "Rollback On Failure" : "false",
        "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
        "Binary String Format" : "UTF-8",
        "Unmatched Column Behavior" : "Fail on Unmatched Columns",
        "Database Type" : "Generic",
        "Translate Field Names" : "true",
        "Statement Type" : "#{StatementType}",
        "Table Schema Cache Size" : "100",
        "Maximum Batch Size" : "1000"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Quote Column Identifiers" : {
          "displayName" : "Quote Column Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Column Identifiers",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Delete Keys" : {
          "displayName" : "Delete Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Keys",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Quote Table Identifiers" : {
          "displayName" : "Quote Table Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Table Identifiers",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Database Session AutoCommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Session AutoCommit",
          "sensitive" : false
        },
        "Unmatched Field Behavior" : {
          "displayName" : "Unmatched Field Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unmatched Field Behavior",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "Allow Multiple SQL Statements" : {
          "displayName" : "Allow Multiple SQL Statements",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Multiple SQL Statements",
          "sensitive" : false
        },
        "Rollback On Failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Rollback On Failure",
          "sensitive" : false
        },
        "Update Keys" : {
          "displayName" : "Update Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Keys",
          "sensitive" : false
        },
        "Field Containing SQL" : {
          "displayName" : "Field Containing SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Field Containing SQL",
          "sensitive" : false
        },
        "Database Dialect Service" : {
          "displayName" : "Database Dialect Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Dialect Service",
          "sensitive" : false
        },
        "Data Record Path" : {
          "displayName" : "Data Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Record Path",
          "sensitive" : false
        },
        "Statement Type Record Path" : {
          "displayName" : "Statement Type Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Statement Type Record Path",
          "sensitive" : false
        },
        "Column Name Translation Pattern" : {
          "displayName" : "Column Name Translation Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Translation Pattern",
          "sensitive" : false
        },
        "Column Name Translation Strategy" : {
          "displayName" : "Column Name Translation Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Translation Strategy",
          "sensitive" : false
        },
        "Binary String Format" : {
          "displayName" : "Binary String Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Binary String Format",
          "sensitive" : false
        },
        "Unmatched Column Behavior" : {
          "displayName" : "Unmatched Column Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unmatched Column Behavior",
          "sensitive" : false
        },
        "Database Type" : {
          "displayName" : "Database Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Type",
          "sensitive" : false
        },
        "Post-Processing SQL" : {
          "displayName" : "Post-Processing SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Post-Processing SQL",
          "sensitive" : false
        },
        "Translate Field Names" : {
          "displayName" : "Translate Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Translate Field Names",
          "sensitive" : false
        },
        "Statement Type" : {
          "displayName" : "Statement Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Statement Type",
          "sensitive" : false
        },
        "Pre-Processing SQL" : {
          "displayName" : "Pre-Processing SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pre-Processing SQL",
          "sensitive" : false
        },
        "Table Schema Cache Size" : {
          "displayName" : "Table Schema Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Cache Size",
          "sensitive" : false
        },
        "Maximum Batch Size" : {
          "displayName" : "Maximum Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Batch Size",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Salesforce to DataBricks" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Salesforce to DataBricks",
      "parameters" : [ {
        "description" : "",
        "name" : "Client secret",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "DataBaseConnectionUrl",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:databricks://dbc-b699a29b-1f3b.cloud.databricks.com:443/default;transportMode=http;ssl=1;AuthMech=3;httpPath=/sql/1.0/warehouses/dc3cd70dcf83762b;"
      }, {
        "description" : "",
        "name" : "DataBaseDriverClass",
        "provided" : false,
        "sensitive" : false,
        "value" : "com.databricks.client.spark.jdbc.SparkJDBC42Driver"
      }, {
        "description" : "",
        "name" : "DataBaseDriverLocation",
        "provided" : false,
        "sensitive" : false,
        "value" : "/home/divijaksi257/DataBricks/DatabricksJDBC-2.7.4.1015/DatabricksJDBC42.jar"
      }, {
        "description" : "",
        "name" : "DataBasePassword",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "DataBaseUser",
        "provided" : false,
        "sensitive" : false,
        "value" : "token"
      }, {
        "description" : "",
        "name" : "DataBricksTable",
        "provided" : false,
        "sensitive" : false,
        "value" : "salesforce_details3"
      }, {
        "description" : "",
        "name" : "Salesforce-Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "SalesforceAuthorizationUrl",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://login.salesforce.com/services/oauth2/token"
      }, {
        "description" : "",
        "name" : "SalesforceInstanceUrl",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://orgfarm-20f18521a9-dev-ed.develop.my.salesforce.com"
      }, {
        "description" : "",
        "name" : "SalesforceUsername",
        "provided" : false,
        "sensitive" : false,
        "value" : "divija.garg613@agentforce.com"
      }, {
        "description" : "",
        "name" : "StatementType",
        "provided" : false,
        "sensitive" : false,
        "value" : "INSERT"
      }, {
        "description" : "",
        "name" : "client_id",
        "provided" : false,
        "sensitive" : false,
        "value" : "3MVG9rZjd7MXFdLixHgkZ8kKgRdqzrdlLkiE_V3kLydjDXDxn7v.4.0fgR9YBTujxW.GVUXVa1iIWRRt5xjpu"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "Salesforce-To-DataBricks",
    "timestamp" : 1770889780414
  }
}